/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * locally scoped CSS styles.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem 0;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.modulesSection {
  padding: 4rem 0;
}

.modulesTitle {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.modulesSubtitle {
  text-align: center;
  font-size: 1.2rem;
  margin-bottom: 3rem;
  color: #666;
}

@media screen and (max-width: 996px) {
  .modulesTitle {
    font-size: 2rem;
  }

  .modulesSubtitle {
    font-size: 1rem;
  }
}